<div class="login-page">
    <div class="login-page-card">
        <form class="card-left" [formGroup]="login">
            <div class="cl_top">
                <p>Welcome Back</p>
                <h1 class="font-bold text-3xl">Login to your account</h1>
                <div class="flex">
                    <p> Not A member?</p>
                    <span (click)="goToSignUp()" class="ml-1 cursor-pointer text-blue-400">Sign-up</span>
                </div>
            </div>

            <div class="cl_bottom">
                <!-- name/role -->
                <div class="flex justify-between w-[100%]">
                    <span class="p-input-icon-right mt-5">
                        <i class="pi pi-prime"></i>
                        <input formControlName="name" class="w-[23vw]" type="text" pInputText placeholder="Name">
                    </span>

                    <span class=" p-input-icon-right mt-5">
                        <i class="pi pi-prime"></i>
                        <input formControlName="role" class="w-[23vw]" type="text" pInputText placeholder="Role">
                    </span>
                </div>

                <!-- email/password -->
                <div class="flex flex-col justify-between w-[100%]">
                    <span class="p-input-icon-right mt-5">
                        <i class="pi pi-prime"></i>
                        <input formControlName="email" class="w-[100%]" type="text" pInputText placeholder="Email">
                        <small class="p-error block" *ngIf="email.errors?.['email']">This is not a valid email.</small>
                    </span>

                    <span class="p-input-icon-right mt-5">
                        <i class="pi pi-prime"></i>
                        <input formControlName="password" class="w-[100%]" type="password" pInputText
                            placeholder="password">
                    </span>
                </div>

                <!-- login/submit -->
                <div class="flex justify-around mt-5 w-full">
                    <button pButton label="Reset" (click)="reset()"></button>
                    <button pButton label="Login" (click)="submit()" [disabled]="!login.valid"></button>
                </div>
            </div>

        </form>
    </div>
</div>