.nav {
  position: absolute;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  height: 50px;
  width: 100%;
  padding: 0 20px;
}

.nav-container {
  @apply h-full w-[50%] flex items-center;
  @apply rounded;
  background-color: rgba(116, 120, 120, 0.498);
  padding-left: 30px;
}

.nav-right {
  display: flex;
  width: 50%;
}

.nav-right li {
  cursor: pointer;
  margin-right: 20px;
}
.nav-right li:hover {
  color: rgba(219, 131, 30, 0.812);
  display: flex;
  align-items: center;
}

.nav-right li span {
  margin-right: 10px;
}
