<app-navbar></app-navbar>

<div class="planet_page1">
    <div class="pt-36">

        <div class="flex text-2xl ml-10">
            <p class="text-zinc-600 mr-4">01</p>
            <span>pick your destination</span>
        </div>

        <div class="planets">
            <h1 class="invisible">help</h1>
            <div class="flex">
                <button *ngFor="let eachPlanet of explorationData.destinations" (click)="onSelectPlanet(eachPlanet)"
                    class="planet-names">{{eachPlanet.name}}</button>
            </div>
        </div>

        <div class="clickedPlanet" *ngIf="selectedPlanet">
            <div class="">
                <img src="{{selectedPlanet.images.png}}" alt="{{selectedPlanet.name}}" height="40%" width="60%">
            </div>

            <div class="planetDetails">
                <h1 class="text-7xl pb-4">{{selectedPlanet.name}}</h1>
                <small>
                    <p>{{selectedPlanet. description}}</p>
                </small>

                <br>
                <hr>
                <div class="flex uppercase">
                    <div class="w-1/2">
                        <small>AVG. DISTANCE</small>
                        <h1>{{selectedPlanet.distance}}</h1>
                    </div>
                    <div class="w-1/2">
                        <p>EST. TRAVEL TIME</p>
                        <h1>{{selectedPlanet.travel}}</h1>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div>
            <div class="planetDetails" *ngFor="let eachPlanet of explorationData.destinations"
                (click)="onSelectPlanet(eachPlanet)">
                <li class="mr-6">{{eachPlanet.name}}</li>
            </div>
        </div>



        <div class="planets">
            <div class="planetsImg" *ngIf="selectedPlanet">
                <img src='{{selectedPlanet.images.png}}' alt="{{selectedPlanet.name}}">
            </div>

            <div *ngIf="selectedPlanet">
                <button>{{selectedPlanet.name}}</button>
            </div>
        </div> -->
    </div>

</div>