<app-navbar></app-navbar>

<div class="planet_page1">
    <div class="translate-y-32">

        <div class="flex">
            <p>01</p>
            <span>pick your destination</span>
        </div>

        <div class="planets">
            <div *ngFor="let eachPlanet of explorationData.destinations" (click)="onSelectPlanet(eachPlanet)">
                <button class="mr-5">{{eachPlanet.name}}</button>
            </div>
        </div>

        <div class="clickedPlanet" *ngIf="selectedPlanet">
            <div>
                <img src="{{selectedPlanet.images.png}}" alt="{{selectedPlanet.name}}" height="40%" width="60%">
            </div>

            <div class="planetDetails">
                <h1>{{selectedPlanet.name}}</h1>
                <p>{{selectedPlanet. description}}</p>

                <br>
                <hr>
                <div class="flex">
                    <div>
                        <p>AVG. DISTANCE</p>
                        <h1>{{selectedPlanet.distance}}</h1>
                    </div>
                    <div>
                        <p>EST. TRAVEL TIME</p>
                        <h1>{{selectedPlanet.travel}}</h1>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div>
            <div class="planetDetails" *ngFor="let eachPlanet of explorationData.destinations"
                (click)="onSelectPlanet(eachPlanet)">
                <li class="mr-6">{{eachPlanet.name}}</li>
            </div>
        </div>



        <div class="planets">
            <div class="planetsImg" *ngIf="selectedPlanet">
                <img src='{{selectedPlanet.images.png}}' alt="{{selectedPlanet.name}}">
            </div>

            <div *ngIf="selectedPlanet">
                <button>{{selectedPlanet.name}}</button>
            </div>
        </div> -->
    </div>

</div>