.planet_page1 {
  height: 100%;
  width: 100%;
  background-image: url("/assets/images/destination/background-destination-desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
}

.planets {
  display: flex;
  justify-content: space-between;
  padding: 0 30%;
}

.planet-names {
  text-align: center;
  margin-right: 20px;
}

.planet-names:hover {
  border-bottom: 2px solid white;
}

.clickedPlanet {
  margin-top: 20px;
  padding: 0 10%;
  display: flex;
  justify-content: space-between;
}

.planetDetails {
  display: flex;
  width: 50%;
  flex-direction: column;
}
