i {
  margin-right: 5px;
}

.start {
  border: 2px solid fuchsia;
  height: 100%;
  color: black;
}

.btn1 {
  border: 2px solid darkgreen;
}

.hide {
  display: none;
}

.ff {
  display: grid;
  grid-template-columns: 20% 50%;
}

.tsk {
  display: flex;
  flex-direction: column;
  border: 1px solid darkred;
  width: 90%;
}

.hh {
  background-color: bisque;
  display: flex;
}

.tt {
  display: flex;
  background-color: rgb(119, 119, 118);
}
