<div class="main">
  <nav class="">
    <div class="nav-left">
      <h3>SPA</h3>
    </div>

    <div class="h-full w-1/2 bg-slate-500
     flex items-center border border-solid border-white rounded">
      <ul class="nav-right">
        <li (click)="goToHome()"><span>00</span>HOME</li>
        <li (click)="goToDestination()"><span>01</span>Destination</li>
        <li (click)="goToCrew()"><span>02</span>Crew</li>
        <li><span>03</span>Technology</li>
      </ul>


    </div>
  </nav>

  <div class="body">
    <router-outlet></router-outlet>
  </div>

</div>