<div class="login-page">
    <div class="login-page-card">
        <form class="login-form">
            <div class="cl_top">
                <h1 class="font-bold text-3xl">Create account</h1>
                <div class="flex">
                    <p>Already have an account?</p>
                    <span class="ml-1 cursor-pointer text-blue-400">Login</span>
                </div>
            </div>


            <!-- last name / first name / email / sign up -->
            <!-- <div class="cl_bottom">
              
                <div class="flex flex-col justify-between w-[100%]">
                    <span class="p-input-icon-right mt-5">
                        <i class="pi pi-prime"></i>
                        <input formControlName="email" class="w-[100%]" type="text" pInputText placeholder="Last Name">
                    </span>

                    <span class="p-input-icon-right mt-5">
                        <i class="pi pi-prime"></i>
                        <input formControlName="password" class="w-[100%]" type="password" pInputText
                            placeholder="First Name">
                    </span>

                    <span class="p-input-icon-right mt-5">
                        <i class="pi pi-prime"></i>
                        <input formControlName="password" class="w-[100%]" type="password" pInputText
                            placeholder="E-mail">
                    </span>
                </div>
            </div> -->

        </form>
    </div>
</div>