<div class="home_page1">
    <div class="hp_bottom">
        <div class="w-1/4">
            <p class="">So, you want to travel to</p>
            <h1 class="text-8xl my-5">Space</h1>
            <p>
                Let's face it; if you want to go to space, you might as well genuinely go to
                outer space and not hover kind of on the edge of it. Well sit back, and relax because we’ll give you a
                truly
                out of this world experience! Explore
            </p>
        </div>

        <div class="explore_btn">
            explore
        </div>
    </div>
</div>